<mat-accordion class="expansion-panels">
  <app-node-project-settings-section
    [projectSettings]="projectSettings"
    [projectGroupError]="projectGroupError"
    [projectNameError]="projectNameError"
    [projectDescriptionError]="projectDescriptionError"
    [packageManagerOptions]="packageManagerOptions"
    (projectGroupChange)="projectGroupChange.emit()"
    (projectNameChange)="projectNameChange.emit()"
    (projectDescriptionChange)="projectDescriptionChange.emit()">
  </app-node-project-settings-section>

  <app-node-database-settings-section
    [databaseSettings]="databaseSettings"
    [dbTypeOptions]="dbTypeOptions"
    [filteredDatabaseOptions]="filteredDatabaseOptions"
    (databaseTypeChange)="databaseTypeChange.emit($event)"
    (databaseSelectionChange)="databaseSelectionChange.emit($event)">
  </app-node-database-settings-section>

  <app-node-developer-preferences-section
    [developerPreferences]="developerPreferences"
    (addProfile)="addProfile.emit()"
    (removeProfile)="removeProfile.emit($event)"
    (configureApiChange)="configureApiChange.emit($event)">
  </app-node-developer-preferences-section>
</mat-accordion>
