<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <parent>
    <groupId>{{parentGroupId}}</groupId>
    <artifactId>{{parentArtifactId}}</artifactId>
    <version>{{parentVersion}}</version>
    <relativePath/>
  </parent>

  <groupId>{{groupId}}</groupId>
  <artifactId>{{artifactId}}</artifactId>
  <version>{{version}}</version>
  <name>{{name}}</name>
  <description>{{description}}</description>
  <packaging>{{packaging}}</packaging>

  <properties>
  {{#properties}}
    <{{key}}>{{value}}</{{key}}>
  {{/properties}}
  </properties>

  {{#dependencyManagement}}
  <dependencyManagement>
    <dependencies>
    {{#dependencyManagement}}
      <dependency>
        <groupId>{{groupId}}</groupId>
        <artifactId>{{artifactId}}</artifactId>
        <version>{{version}}</version>
      </dependency>
    {{/dependencyManagement}}
    </dependencies>
  </dependencyManagement>
  {{/dependencyManagement}}

  <dependencies>
  {{#dependencies}}
    <dependency>
      <groupId>{{groupId}}</groupId>
      <artifactId>{{artifactId}}</artifactId>
      {{#version}}<version>{{.}}</version>{{/version}}
      {{#scope}}<scope>{{.}}</scope>{{/scope}}
      {{#optional}}<optional>{{.}}</optional>{{/optional}}
    </dependency>
  {{/dependencies}}
  </dependencies>

  <build>
    <plugins>
      <plugin>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-maven-plugin</artifactId>
        <version>{{bootPluginVersion}}</version>
        <configuration>
          <layers>true</layers>
        </configuration>
      </plugin>

      {{#annotationProcessors}}
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-compiler-plugin</artifactId>
        <version>3.11.0</version>
        <configuration>
          <release>${java.version}</release>
          <parameters>true</parameters>
          <annotationProcessorPaths>
            {{#annotationProcessors}}
            <path>
              <groupId>{{groupId}}</groupId>
              <artifactId>{{artifactId}}</artifactId>
              <version>{{version}}</version>
            </path>
            {{/annotationProcessors}}
          </annotationProcessorPaths>
        </configuration>
      </plugin>
      {{/annotationProcessors}}

    </plugins>
  </build>
</project>
