<div class="add-relation-container">
  <div class="relation-form">
    <div class="form-row">
      <div class="form-field-group">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Source entity</mat-label>
          <mat-select
            [(ngModel)]="sourceEntity"
            (selectionChange)="onSourceEntityChange()"
            required>
            <mat-option *ngFor="let entity of entities" [value]="entity.name">
              {{ entity.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="input-error" *ngIf="sourceEntityError">{{ sourceEntityError }}</div>
      </div>

      <div class="form-field-group">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Source field name</mat-label>
          <mat-select
            [(ngModel)]="sourceFieldName"
            (selectionChange)="onSourceFieldNameChange()"
            [disabled]="!sourceEntity"
            required>
            <mat-option *ngFor="let fieldName of getSourceEntityFields()" [value]="fieldName">
              {{ fieldName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="input-error" *ngIf="sourceFieldNameError">{{ sourceFieldNameError }}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-field-group">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Target entity</mat-label>
          <mat-select
            [(ngModel)]="targetEntity"
            (selectionChange)="onTargetEntityChange()"
            required>
            <mat-option *ngFor="let entity of entities" [value]="entity.name">
              {{ entity.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="input-error" *ngIf="targetEntityError">{{ targetEntityError }}</div>
      </div>

      <div class="form-field-group">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Target field name</mat-label>
          <mat-select
            [(ngModel)]="targetFieldName"
            (selectionChange)="onTargetFieldNameChange()"
            required
            [disabled]="!targetEntity">
            <mat-option *ngFor="let fieldName of getTargetEntityFields()" [value]="fieldName">
              {{ fieldName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="input-error" *ngIf="targetFieldNameError">{{ targetFieldNameError }}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-field-group">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Relation type</mat-label>
          <mat-select
            [(ngModel)]="relationType"
            (selectionChange)="onRelationTypeChange()"
            required>
            <mat-option *ngFor="let type of relationTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="input-error" *ngIf="relationTypeError">{{ relationTypeError }}</div>
      </div>

      <div class="form-field-group checkbox-field">
        <label class="checkbox-label">
          <input
            type="checkbox"
            [(ngModel)]="required"
            class="checkbox-input">
          <span class="checkbox-text">Required</span>
        </label>
      </div>
    </div>
  </div>
</div>
