<div class="modal-backdrop" *ngIf="isOpen" (click)="onBackdropClick($event)">
  <div class="modal-container" [ngClass]="'modal-' + size">
    <button class="modal-close-btn" (click)="onClose()" aria-label="Close modal">
      <i class="bi bi-x-lg"></i>
    </button>
    <div class="modal-header" *ngIf="title || customHeader">
      <h2 class="modal-title" *ngIf="title">{{ title }}</h2>
      <ng-content select="[modal-header]"></ng-content>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer" *ngIf="showFooter">
      <ng-content select="[modal-footer]"></ng-content>
    </div>
  </div>
</div>
