from fastapi import FastAPI
{{#hasModules}}
from app.generated.module_bootstrap import configure_generated_modules
{{/hasModules}}

app = FastAPI(title="{{appName}}")
{{#hasModules}}
configure_generated_modules(app)
{{/hasModules}}


@app.get("/")
def root():
    return {"message": "{{appName}} running", "orm": "{{orm}}"}
