<ion-app>
  <div class="app-container">
    <app-header class="app-header-fixed" *ngIf="!isNavigating"></app-header>
    <main class="main-content-scrollable" [class.no-margins]="isDashboardRoute" [class.no-padding]="isProjectGenerationRoute">
      <router-outlet></router-outlet>
    </main>
    <app-footer class="app-footer-fixed" *ngIf="!isNavigating"></app-footer>
    <app-toast></app-toast>
    <app-loading-overlay
      [visible]="(oauthProgressService.state$ | async)?.visible === true"
      [title]="(oauthProgressService.state$ | async)?.title || 'Request in progress'"
      [message]="(oauthProgressService.state$ | async)?.message || 'Request in progress.'"
    ></app-loading-overlay>
    <app-loading-overlay
      [visible]="((oauthProgressService.state$ | async)?.visible !== true) && (isNavigating || (((requestLoadingService.routeEnabled$ | async) === true) && (requestLoadingService.visible$ | async) === true))"
      title="Request in progress"
      message=""
    ></app-loading-overlay>
    <app-confirmation-modal
      *ngIf="showSessionWarning"
      title="Session Expiry Warning"
      [message]="sessionWarningMessages"
      [buttons]="sessionWarningButtons"
      (confirm)="extendSession()"
      (cancel)="logoutFromSessionWarning()"
    ></app-confirmation-modal>
  </div>
</ion-app>
