package {{repositoryPackage}};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;

import {{modelPackage}}.{{entityName}};

public interface {{repositoryClass}} extends JpaRepository<{{entityName}}, {{idType}}>, JpaSpecificationExecutor<{{entityName}}> {
}
