package {{packageName}};

import org.springframework.http.HttpStatus;

public class GenericException extends RuntimeException {

    private static final long serialVersionUID = 1L;

    private HttpStatus status;
    private String errorMsg;

    public GenericException() {
    }

    public GenericException(HttpStatus status, String errorMsg) {
        super(errorMsg);
        this.status = status;
        this.errorMsg = errorMsg;
    }

    public HttpStatus getStatus() {
        return status;
    }

    public void setStatus(HttpStatus status) {
        this.status = status;
    }

    public String getErrorMsg() {
        return errorMsg;
    }

    public void setErrorMsg(String errorMsg) {
        this.errorMsg = errorMsg;
    }
}
