<div class="add-relation-container">
  <div class="relation-form">
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Source entity</mat-label>
        <input
          matInput
          [(ngModel)]="sourceEntity"
          [matAutocomplete]="sourceEntityAutocomplete"
          (ngModelChange)="onSourceEntityChange()"
          placeholder="Select source entity"
          required>
        <mat-autocomplete #sourceEntityAutocomplete="matAutocomplete" (optionSelected)="onSourceEntityChange()">
          <mat-option *ngFor="let entity of entities" [value]="entity.name">
            {{ entity.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="sourceEntityError">{{ sourceEntityError }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Source field name</mat-label>
        <input
          matInput
          [(ngModel)]="sourceFieldName"
          [matAutocomplete]="sourceFieldAuto"
          (ngModelChange)="onSourceFieldNameChange()"
          placeholder="Source FieldName"
          required>
        <mat-autocomplete #sourceFieldAuto="matAutocomplete" (optionSelected)="onSourceFieldNameChange()">
          <mat-option *ngFor="let field of sourceEntityFields" [value]="field.name">
            {{ field.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="sourceFieldNameError">{{ sourceFieldNameError }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Target entity</mat-label>
        <input
          matInput
          [(ngModel)]="targetEntity"
          [matAutocomplete]="targetEntityAuto"
          (ngModelChange)="onTargetEntityChange()"
          placeholder="Select target entity"
          required>
        <mat-autocomplete #targetEntityAuto="matAutocomplete" (optionSelected)="onTargetEntityChange()">
          <mat-option *ngFor="let entity of entities" [value]="entity.name">
            {{ entity.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="targetEntityError">{{ targetEntityError }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Target field name (optional)</mat-label>
        <input
          matInput
          [(ngModel)]="targetFieldName"
          [matAutocomplete]="targetFieldAuto"
          placeholder="backReferenceFieldName">
        <mat-autocomplete #targetFieldAuto="matAutocomplete">
          <mat-option *ngFor="let field of targetEntityFields" [value]="field.name">
            {{ field.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Relation type</mat-label>
        <mat-select
          [(ngModel)]="relationType"
          (selectionChange)="onRelationTypeChange()"
          required>
          <mat-option *ngFor="let type of relationTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="relationTypeError">{{ relationTypeError }}</mat-error>
      </mat-form-field>

      <div class="form-field checkbox-field">
        <label class="checkbox-label">
          <input
            type="checkbox"
            [(ngModel)]="required"
            class="checkbox-input">
          <span class="checkbox-text">Required</span>
        </label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-field checkbox-field">
        <label class="checkbox-label">
          <input
            type="checkbox"
            [(ngModel)]="unidirectional"
            class="checkbox-input">
          <span class="checkbox-text">Unidirectional</span>
        </label>
      </div>
    </div>
  </div>
</div>
