<div class="add-relation-container">
  <div class="relation-form">
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Source entity</mat-label>
        <mat-select
          [(ngModel)]="sourceEntity"
          (selectionChange)="onSourceEntityChange()"
          required>
          <mat-option *ngFor="let entity of entities" [value]="entity.name">
            {{ entity.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="sourceEntityError">{{ sourceEntityError }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Source field name</mat-label>
        <input
          matInput
          [(ngModel)]="sourceFieldName"
          (ngModelChange)="onSourceFieldNameChange()"
          placeholder="relationFieldName"
          required>
        <mat-error *ngIf="sourceFieldNameError">{{ sourceFieldNameError }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Target entity</mat-label>
        <mat-select
          [(ngModel)]="targetEntity"
          (selectionChange)="onTargetEntityChange()"
          required>
          <mat-option *ngFor="let entity of entities" [value]="entity.name">
            {{ entity.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="targetEntityError">{{ targetEntityError }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Target field name (optional)</mat-label>
        <input
          matInput
          [(ngModel)]="targetFieldName"
          placeholder="backReferenceFieldName">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Relation type</mat-label>
        <mat-select
          [(ngModel)]="relationType"
          (selectionChange)="onRelationTypeChange()"
          required>
          <mat-option *ngFor="let type of relationTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="relationTypeError">{{ relationTypeError }}</mat-error>
      </mat-form-field>

      <div class="form-field checkbox-field">
        <label class="checkbox-label">
          <input
            type="checkbox"
            [(ngModel)]="required"
            class="checkbox-input">
          <span class="checkbox-text">Required</span>
        </label>
      </div>
    </div>
  </div>
</div>
