<div class="field-item">
  <mat-form-field appearance="outline" class="field-type-select">
    <mat-select
      [(ngModel)]="field.type"
      (selectionChange)="onTypeChange()">
      <mat-option *ngFor="let type of fieldTypes" [value]="type">{{ type }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="field-name-group">
    <label class="field-label">Field name</label>
    <input
      class="field-input"
      [(ngModel)]="field.name"
      (ngModelChange)="onNameChange()"
      [disabled]="field.primaryKey"
      placeholder="Field name">
    <div class="field-error" *ngIf="field.nameError">{{ field.nameError }}</div>
  </div>

  <div class="field-max-length-group" *ngIf="field.type === 'String'">
    <label class="field-label">Max length</label>
    <input
      class="field-input field-input-small"
      type="number"
      [(ngModel)]="field.maxLength"
      (ngModelChange)="onFieldUpdate()"
      placeholder="255">
  </div>

  <div class="field-constraints">
    <mat-checkbox
      *ngIf="field.primaryKey"
      [(ngModel)]="field.primaryKey"
      [disabled]="true"
      color="primary"
      class="constraint-checkbox">
      Primary key
    </mat-checkbox>

    <mat-checkbox
      *ngIf="!field.primaryKey"
      [(ngModel)]="field.required"
      (change)="onFieldUpdate()"
      color="primary"
      class="constraint-checkbox">
      Required
    </mat-checkbox>

    <mat-checkbox
      *ngIf="!field.primaryKey"
      [(ngModel)]="field.unique"
      (change)="onFieldUpdate()"
      color="primary"
      class="constraint-checkbox">
      Unique
    </mat-checkbox>
  </div>

  <div class="field-actions">
    <button
      mat-icon-button
      class="action-btn delete-btn"
      type="button"
      *ngIf="canDelete"
      (click)="onDelete()"
      aria-label="Delete field">
      <mat-icon>delete</mat-icon>
    </button>
    <button
      mat-icon-button
      class="action-btn drag-btn"
      type="button"
      *ngIf="canDelete"
      aria-label="Reorder field">
      <mat-icon>drag_indicator</mat-icon>
    </button>
  </div>
</div>
