package {{repositoryPackage}};

{{#noSql}}
import org.springframework.data.mongodb.repository.MongoRepository;
{{/noSql}}
{{^noSql}}
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;
{{/noSql}}

{{#idTypeImport}}
import {{idTypeImport}};
{{/idTypeImport}}
import {{modelPackage}}.{{entityName}};

{{#noSql}}
public interface {{repositoryClass}} extends MongoRepository<{{entityName}}, {{idType}}> {
{{/noSql}}
{{^noSql}}
public interface {{repositoryClass}} extends JpaRepository<{{entityName}}, {{idType}}>, JpaSpecificationExecutor<{{entityName}}> {
{{/noSql}}
}
