<mat-form-field appearance="fill" class="searchable-multi-select full-width">
  <mat-label>{{ label }}</mat-label>
  <mat-select
    panelClass="searchable-multi-select-panel"
    [ngModel]="selectedValues"
    (ngModelChange)="onSelectionChange($event)"
    [disabled]="disabled"
    (openedChange)="onOpenedChange($event)"
    multiple>
    <mat-select-trigger>
      <div class="selected-tags" *ngIf="selectedTagValues.length > 0; else noSelection">
        <span class="selected-tag" *ngFor="let value of selectedTagValues">
          <span class="selected-tag-text">{{ value }}</span>
          <button
            type="button"
            class="selected-tag-remove"
            aria-label="Remove selected value"
            (click)="removeSelectedValue(value, $event)">
            <i class="bi bi-x"></i>
          </button>
        </span>
      </div>
      <ng-template #noSelection>
        <span class="selected-placeholder">Select options</span>
      </ng-template>
    </mat-select-trigger>

    <mat-option disabled class="search-option">
      <input
        class="search-input"
        [(ngModel)]="searchTerm"
        [attr.placeholder]="searchPlaceholder"
        [attr.aria-label]="searchPlaceholder"
        (click)="$event.stopPropagation()"
        (keydown)="onSearchKeydown($event)">
    </mat-option>

    <mat-option *ngFor="let option of filteredOptions" [value]="option" class="value-option">
      {{ option }}
    </mat-option>

    <mat-option *ngIf="filteredOptions.length === 0" disabled>
      {{ emptyMessage }}
    </mat-option>
  </mat-select>
</mat-form-field>
