<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Developer preferences</mat-panel-title>
  </mat-expansion-panel-header>

  <div class="panel-content">
    <div class="form-row">
      <div class="appl-format-row">
        <label class="field-label">Appl. format</label>
        <button type="button" mat-stroked-button class="profile-add-btn" (click)="addProfile.emit()">
          <mat-icon>add</mat-icon>
          Add profile
        </button>
      </div>
      <div class="appl-format-controls">
        <mat-radio-group [(ngModel)]="developerPreferences.applFormat" class="radio-group-horizontal">
          <mat-radio-button value="yaml">Yaml</mat-radio-button>
          <mat-radio-button value="properties">Properties</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="form-row" *ngIf="developerPreferences.profiles.length > 0">
      <label class="field-label">Profiles</label>
      <div class="profile-tags">
        <div class="profile-tag" *ngFor="let profile of developerPreferences.profiles">
          <span>{{ profile }}</span>
          <button type="button" class="profile-tag-remove" (click)="removeProfile.emit(profile)" aria-label="Remove profile">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="form-row">
      <label class="field-label">Packages
        <mat-icon class="inline-icon" matTooltip="Package organization structure"
          (mousedown)="onHelpIconInteraction($event)" (click)="onHelpIconInteraction($event)">info</mat-icon>
      </label>
      <mat-radio-group [(ngModel)]="developerPreferences.packages" class="radio-group-horizontal">
        <mat-radio-button value="technical">Technical</mat-radio-button>
        <mat-radio-button value="domain">Domain driven</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="form-row">
      <mat-checkbox [(ngModel)]="developerPreferences.enableOpenAPI">
        Enable OpenAPI/Swagger UI
        <mat-icon class="inline-icon" matTooltip="Generate OpenAPI documentation"
          (mousedown)="onHelpIconInteraction($event)" (click)="onHelpIconInteraction($event)">info</mat-icon>
      </mat-checkbox>
    </div>

    <div class="form-row">
      <mat-checkbox [(ngModel)]="developerPreferences.enableActuator" (ngModelChange)="enableActuatorChange.emit($event)">
        Configure Actuator
        <mat-icon class="inline-icon" matTooltip="Include Spring Boot Actuator dependency"
          (mousedown)="onHelpIconInteraction($event)" (click)="onHelpIconInteraction($event)">info</mat-icon>
      </mat-checkbox>
    </div>

    <div class="form-row">
      <mat-checkbox [checked]="developerPreferences.configureApi" (change)="configureApiChange.emit($event)">
        Enable API Configuration Screen
        <mat-icon class="inline-icon" matTooltip="Enable API controller configuration"
          (mousedown)="onHelpIconInteraction($event)" (click)="onHelpIconInteraction($event)">info</mat-icon>
      </mat-checkbox>
    </div>

    <div class="form-row">
      <mat-checkbox [(ngModel)]="developerPreferences.enableLombok">
        Enable lombok
        <mat-icon class="inline-icon" matTooltip="Include Lombok dependency as optional"
          (mousedown)="onHelpIconInteraction($event)" (click)="onHelpIconInteraction($event)">info</mat-icon>
      </mat-checkbox>
    </div>

    <div class="form-row">
      <mat-checkbox [(ngModel)]="developerPreferences.useDockerCompose">
        Use Docker compose
        <mat-icon class="inline-icon" matTooltip="Include Docker Compose configuration"
          (mousedown)="onHelpIconInteraction($event)" (click)="onHelpIconInteraction($event)">info</mat-icon>
      </mat-checkbox>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Java version</mat-label>
        <mat-select [(ngModel)]="developerPreferences.javaVersion">
          <mat-option *ngFor="let version of javaVersionOptions" [value]="version">
            {{ version }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-expansion-panel>
