package {{packageName}};

{{#imports}}
import {{.}};
{{/imports}}

{{#classAnnotations}}
{{{.}}}
{{/classAnnotations}}
public class {{className}}{{#implements}} implements {{.}}{{/implements}} {

    private static final long serialVersionUID = 1L;

    {{#idBlock}}
    {{#annotations}}
    {{{.}}}
    {{/annotations}}
    private {{{type}}} {{name}};

    {{/idBlock}}
    {{#fields}}
    {{#annotations}}
    {{{.}}}
    {{/annotations}}
    private {{{type}}} {{name}};

    {{/fields}}
    {{#relations}}
    {{#annotations}}
    {{{.}}}
    {{/annotations}}
    private {{{declarationType}}} {{name}};

    {{/relations}}
    {{#auditing.enabled}}
    @CreatedDate
    private OffsetDateTime createdAt;

    @LastModifiedDate
    private OffsetDateTime updatedAt;

    {{/auditing.enabled}}
    {{#softDelete.enabled}}
    private Boolean deleted = false;

    private OffsetDateTime deletedAt;
    {{/softDelete.enabled}}
}
