package {{packageName}};

{{#imports}}
import {{.}};
{{/imports}}

{{#classAnnotations}}
{{{.}}}
{{/classAnnotations}}
public class {{className}}{{#implements}} implements {{.}}{{/implements}} {

    private static final long serialVersionUID = 1L;

    {{!-- ===================== ID BLOCK ===================== --}}
    {{#idBlock}}
    {{#annotations}}
    {{{.}}}
    {{/annotations}}
    private {{{type}}} {{name}};
    {{/idBlock}}

    {{!-- ===================== REGULAR FIELDS ===================== --}}
    {{#fields}}
    {{#annotations}}
    {{{.}}}
    {{/annotations}}
    private {{{type}}} {{name}};
    {{/fields}}

    {{!-- ===================== RELATION FIELDS ===================== --}}
    {{#relations}}
    {{#annotations}}
    {{{.}}}
    {{/annotations}}
    private {{{declarationType}}} {{name}};
    {{/relations}}

    {{!-- ===================== AUDITING FIELDS ===================== --}}
    {{#auditing.enabled}}
    @CreatedDate
    private OffsetDateTime createdAt;

    @LastModifiedDate
    private OffsetDateTime updatedAt;
    {{/auditing.enabled}}

    {{!-- ===================== SOFT DELETE FIELDS ===================== --}}
    {{#softDelete.enabled}}
    private Boolean deleted = false;
    private OffsetDateTime deletedAt;
    {{/softDelete.enabled}}
}
