package {{basePkg}};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
{{#includeShippedModuleScanning}}
import org.springframework.boot.autoconfigure.domain.EntityScan;
import org.springframework.data.jpa.repository.config.EnableJpaRepositories;
{{/includeShippedModuleScanning}}

{{#includeShippedModuleScanning}}
@SpringBootApplication(scanBasePackages = {"{{basePkg}}", "{{moduleBasePackage}}"})
@EntityScan(basePackages = {"{{basePkg}}", "{{moduleBasePackage}}"})
@EnableJpaRepositories(basePackages = {"{{basePkg}}", "{{moduleBasePackage}}"})
{{/includeShippedModuleScanning}}
{{^includeShippedModuleScanning}}
@SpringBootApplication
{{/includeShippedModuleScanning}}
public class {{mainClass}} {

    public static void main(String[] args) {
        SpringApplication.run({{mainClass}}.class, args);
    }
}
