.full-width {
  width: 100%;
}

.search-option {
  min-height: 56px !important;
  height: auto !important;
  opacity: 1 !important;
  cursor: default !important;
  pointer-events: auto !important;
}

.search-option .search-input {
  width: 100%;
  padding: 8px 0;
  border: none;
  outline: none;
  background: transparent;
  color: var(--neutral-900);
  font-size: 14px;
}

.search-option .search-input::placeholder {
  color: var(--theme-neutral-text);
  opacity: 1;
}

::ng-deep .search-option .mat-pseudo-checkbox,
::ng-deep .search-option .mat-mdc-option-pseudo-checkbox,
::ng-deep .search-option .mdc-list-item__start {
  display: none !important;
}

::ng-deep .search-option .mdc-list-item__primary-text {
  width: 100%;
}
