<div class="help-popover">
  <button
    type="button"
    class="help-trigger"
    [attr.aria-label]="ariaLabel"
    (click)="onPointerEnter($event)"
    (mouseenter)="onPointerEnter($event)"
    (mousemove)="onPointerMove($event)"
    (mouseleave)="onPointerLeave()"
    (focus)="onTriggerFocus($event)"
    (blur)="onPointerLeave()">
    <i class="bi bi-question-circle"></i>
  </button>
  <div
    *ngIf="isOpen"
    class="help-content"
    role="tooltip"
    [class.top]="placement === 'top'"
    [class.left]="placement === 'left'"
    [style.left.px]="overlayLeft"
    [style.top.px]="overlayTop">
    <div class="help-arrow" aria-hidden="true" [class.top]="placement === 'top'" [class.left]="placement === 'left'"></div>
    <div class="help-panel">
      <ng-content></ng-content>
    </div>
  </div>
</div>
