package {{packageName}};

{{#imports}}
import {{.}};
{{/imports}}

{{#classAnnotations}}
{{.}}
{{/classAnnotations}}
public class {{className}} implements {{implements}} {

    {{! ----- ID field ----- }}
    {{#idBlock.annotations}}
    {{.}}
    {{/idBlock.annotations}}
    private {{idBlock.type}} {{idBlock.name}};

    {{! ----- Scalar fields ----- }}
    {{#fields}}
    {{#annotations}}
    {{.}}
    {{/annotations}}
    private {{type}} {{name}};
    {{/fields}}

    {{! ----- Relation fields ----- }}
    {{#relations}}
    {{#annotations}}
    {{.}}
    {{/annotations}}
    private {{declarationType}} {{name}};
    {{/relations}}

    {{^lombokEnabled}}
    // No Lombok: generate constructor, getters and setters

    public {{className}}() {
    }

    public {{idBlock.type}} get{{idBlock.capitalizedName}}() {
        return {{idBlock.name}};
    }

    public void set{{idBlock.capitalizedName}}({{idBlock.type}} {{idBlock.name}}) {
        this.{{idBlock.name}} = {{idBlock.name}};
    }

    {{#fields}}
    public {{type}} get{{capitalizedName}}() {
        return {{name}};
    }

    public void set{{capitalizedName}}({{type}} {{name}}) {
        this.{{name}} = {{name}};
    }
    {{/fields}}

    {{#relations}}
    public {{declarationType}} get{{capitalizedName}}() {
        return {{name}};
    }

    public void set{{capitalizedName}}({{declarationType}} {{name}}) {
        this.{{name}} = {{name}};
    }
    {{/relations}}
    {{/lombokEnabled}}
}
